	<div class="table-data">
		<div class="order">
			<div class="head">
				<i style="font-size: 500%;" class='bx material-icons'>warning</i>
			</div>
			<h2>404 Page Not Found</h2>
			<br>
				<h2>You should be automatically redirected to the home page in <span id="seconds">5</span> seconds.</h2>
			</div>
	</div>
	<br>

	<br><br>
	<a href="/auth">
		{{!-- buttton needs to be centered --}}
		<button class="generic-button" style="font-size: 25px; border: 3.5px solid; border-radius: 5em;" ><i class='bx material-icons' style="font-size: 30px;">check</i>&nbsp;Done</button>
	</a> 
	<script>
		// Countdown timer for redirecting to another URL after several seconds

		var seconds = 5; // seconds for HTML
		var foo; // variable for clearInterval() function

		function redirect() {
			document.location.href = '/auth';
		}

		function updateSecs() {
			document.getElementById("seconds").innerHTML = seconds;
			seconds--;
			if (seconds == -1) {
				clearInterval(foo);
				redirect();
			}
		}

		function countdownTimer() {
			foo = setInterval(function () {
				updateSecs()
			}, 1000);
		}

		countdownTimer();
	</script>
