<div class="head-title">
	<div class="left">
		<br>
		
	</div>
	

</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:2.5rem">About Diabetes</h2>
		</div>
		<h2>Diabetes management starts with what you track.®</h2>
		<br>
		<p>
Diabetes is a serious complex condition which can affect the entire body. Diabetes requires daily self care and if complications develop, diabetes can have a significant impact on quality of life and can reduce life expectancy. While there is currently no cure for diabetes, you can live an enjoyable life by learning about the condition and effectively managing it.</p>
		
	</div>
	<div style=" display: flex; justify-content: center;" class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
		</div>
			<iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/wZAjVQWbMlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:1.5rem">Symptoms</h2>
		</div>
		<p>
In type 1 diabetes, symptoms are often sudden and can be life-threatening; therefore it is usually diagnosed quite quickly. In type 2 diabetes, many people have no symptoms at all, while other signs can go unnoticed being seen as part of ‘getting older’.
<br><br>
        <p>
          <br>
          Common symptoms include:
          <li>Being more thirsty than usual</li>
          <li>Passing more urine</li>
          <li>Feeling tired and lethargic</li>
          <li>Always feeling hungry</li>
          <li>Having cuts that heal slowly</li>
          <li>Itching, skin infections</li>
          <li>Blurred vision</li>
          <li>Unexplained weight loss (type 1)</li>
          <li>Gradually putting on weight (type 2)</li>
          <li>Mood swings</li>
          <li>Headaches</li>
          <li>Feeling dizzy</li>
          <li>Leg cramps</li>
        </p>
</p>

	</div>
		<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:1.5rem">Type 1 & Type 2</h2>
		</div>
		<p>
Type 1 diabetes is thought to be caused by an autoimmune reaction (the body attacks itself by mistake) that stops your body from making insulin. Approximately 5-10% of the people who have diabetes have type 1. Symptoms of type 1 diabetes often develop quickly. If you have type 1 diabetes, you’ll need to take insulin every day to survive. Currently, no one knows how to prevent type 1 diabetes.
<br><br>
With type 2 diabetes, your body doesn’t use insulin well and can’t manage blood sugar levels. About 90-95% of people with diabetes have type 2. It develops over many years and can be prevented or delayed with lifestyle changes, such as losing weight, eating healthy food, and being active.</p>
	</div>

	
</div>