<div class="head-title">
	<div class="left">
		<br>
		
	</div>
	

</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:2.5rem">About MyGlucose</h2>
		</div>
		<h2>Diabetes management starts with what you track.®</h2>
		<br>
		<p>
We are a startup specialising in digital health solutions. <br><br>Our latest and greatest product, MyGlucose, is a web app that helps people to manage their diabetes in the convenience of their own home, recording data that can be monitored remotely by their clinician. <br> A person with diabetes will need to record data for many years, so MyGlucose by Diabetes@Home is a perfect solution combining great usability, and a positive and motivating user-experience.</p>

		<br><br><br>
		<p>You must be logged in to use most of the features of this website, as it contains confidential and personalised information for each user. Unregistered users may use the Home, About Us and About Diabetes pages.</p>
		
	</div>
	<div style=" display: flex; justify-content: center;" class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
		</div>
			<img style="width: 100%;" src="img/aboutusbox1.png">
	</div>
	
</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:1.5rem">Web app credits</h2>
		</div>
		<p>
This website was built by the ProjectXY Group<br><br>INFO30005 Semester 1 2022.
<br><br>
<ul>
	<li>
		Contributors:
	</li>
	<li>
		Brad Tan
	</li>
	<li>
		Rory Healy
	</li>
	<li>
		Ash Zhang
	</li>
</ul>
</p>

	</div>
		<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:1.5rem">Attributions</h2>
		</div>
		<p>
Diabetes@Home & MyGlucose Logos: Brad Tan <br>
Handshaking Photo: charlesdeluvio on Unsplash <br>
Computer Programming Photo: Christopher Gower on Unsplash <br>
YouTube Video (Diabetes 2 minute): Diabetes UK on YouTube <br>
Novolog Insulin Photo: Mykenzie Johnson on Unsplash <br>
Man running photo: Jenny Hill on Unsplash <br> 
MyGlucose iPhone mockup (modified by Brad Tan): LS.Graphics <br>
Glucose Monitor + Medication photo: Mykenzie Johnson on Unsplash <br>
Diabetes person icon: Diabetes icon by Icons8 <br>
Font (Signika Negative): Google Fonts <br>
Icons (Material Icons): Google Fonts/Icons</p>
	</div>

	
</div>