
<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <pre><a class="active generic-button" href="/clinicianViewAllPatients">Patients</a></pre>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <pre><a class="active generic-button" href="#">New Patient</a></pre>
            </li>
        </ul>
        <br>
        <h1>New Patient</h1>
    </div>
</div>


<ul class="box-info">
    <li>
        <i class='bx material-icons'>today</i>
        <span class="text">
            <h3>{{getCurrentDate}}</h3>
            <p>Current Date</p>
        </span>
    </li>
    <li>
        <i class='bx material-icons'>personal_injury</i>
        <span class="text">
            <h3>{{data.length}}</h3>
            <p>Total patients</p>
        </span>
    </li>
</ul>




<div class="table-data">
    <div class="order">
        <div class="head">
            <!--					<i class='bx bx-check-square' ></i>-->
            <h3>Patient Details</h3>
            <i class='bx material-icons'>edit</i>
        </div>
        
        <form class="form-group" id="addRecordForm" action="/userAddRecord" method="POST">
        <ul class="box-info">
            <li style="background-color:var(--grey);" class="bluehighlightedbox">
                <span class="text">
                    <label>Given Name</label>
                    <input class="input-button-select" type="text" placeholder="" name="given name" />
                </span>
                
            </li>
             <li style="background-color:var(--grey);" class="bluehighlightedbox">
                <span class="text">
                    <label>Last Name</label>
                    <input class="input-button-select" type="text" placeholder="" name="last name" />
                </span>
                
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Date of sign-up</h3>
                    <h2>{{formatLongDate this.created_at}}</h2>
                </span>
            </li>
        </ul>
        <ul class="box-info">
            
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Phone number</h3>
                    <input class="input-button-select" type="text" placeholder="e.g. 9999-999-999" name="phone number" />
                </span>
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Email/username</h3>
                    <input class="input-button-select" type="text" placeholder="Email" name="username" />
                </span>
            </li>
        </ul>
        <ul class="box-info">
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Address</h3>
                    <input class="input-button-select" type="text" placeholder="Residential Address" name="address"/>
                </span>
                
            </li>
        </ul>

        <ul class="box-info">
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Height</h3>
                    <input class="input-button-select" type="number" placeholder="Height in Centimeters" name="height"/>
                </span>
            </li>
            
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Date of Birth</h3>
                    <input class="input-button-select" type="date" placeholder="Date of Birth" name="date of birth"/>
                </span>
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Gender</h3>
                    <select class="input-button-select" name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </span>
            </li>
            
        </ul><br>
            <input style="font-size: 110%;" class="generic-button" type="submit" />
        

        
    </div>
    <div class="todo">
        <div class="head">
            <!--					<i class='bx bx-edit-alt'></i>-->
            <h3>Health details</h3>
        </div>
        <ul class="todo-list-wide">
            <li class="blueone">
                <p>Records to record:</p>
                <pre><input type="checkbox" id="bloodglucose" name="bloodglucose"> <label for="bloodglucose">Blood Glucose</label></pre>
                <pre><input type="checkbox" id="insulin" name="insulin"> <label for="insulin">Insulin Dose(s)</label></pre>
                <pre><input type="checkbox" id="weight" name="weight"> <label for="weight">Weight</label></pre>
                <pre><input type="checkbox" id="exercise" name="exercise"> <label for="exercise">Exercise</label></pre>
            </li>
        </ul>
        <br>
        <div class="head">
            <!--					<i class='bx bx-edit-alt'></i>-->
            <h3>Patient thresholds</h3>
        </div>
        <ul class="todo-list-wide">
            <li class="blueone">
                <p>Blood Glucose</p>

                {{!-- <input class="small-input-button-select" type="number" placeholder="From" name="value" /><input class="small-input-button-select" type="number" placeholder="To" name="value" /> --}}
                <input class="input-button-select" type="number" placeholder="From" name="blood glucose threshold lower" />
                <input class="input-button-select" type="number" placeholder="To" name="blood glucose threshold upper" />
            </li>
            <li class="blueone">
                <p>Insulin Doses</p>
                <input class="input-button-select" type="number" placeholder="Number of doses" name="insulin doses threshold" />
            </li>
            <li class="blueone">
                <p>Weight</p>
                <input class="input-button-select" type="number" placeholder="From" name="weight threshold lower" />
                <input class="input-button-select" type="number" placeholder="To" name="weight threshold upper" />
            </li>
            <li class="blueone">
                <p>Exercise</p>
                <input class="input-button-select" type="number" placeholder="From" name="exercise threshold lower" />
                <input class="input-button-select" type="number" placeholder="To" name="exercise threshold upper" />
            </li>
        </ul>

    </div>
    </form>
    
</div>
