<div class="head-title">
	<div class="left">
		<br>
		
	</div>
	

</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h2 style="font-size:2.5rem">Welcome to MyGlucose</h2>
		</div>
		<h2>Diabetes management starts with what you track.®</h2>
		<br>
		<p>
Regular checking and recording of your blood glucose level can help you make healthy lifestyle choices and can alert your clinician to a possible need for a change in how your diabetes is being managed. <br><br> Effective management of diabetes means aiming for a careful balance between the foods you eat, how active you are and what medication you take.</p>
<img style="width:40%; height:auto" src="img/aboutusbox1.png">
		<br>
		
	</div>
	<div class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
		</div>
			<img style="width:100%; height:auto" src="img/box-d.png">
	</div>
	
</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			{{!-- <h2 style="font-size:1.5rem">About Diabetes@Home</h2> --}}
		</div>
		<a href="/aboutus"><img style="width:100%; height:auto" src="img/box-f1.png"></a>

	</div>
		<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			{{!-- <h2 style="font-size:1.5rem">What is Diabetes?</h2> --}}
		</div>
		<a href="/aboutdiabetes"><img style="width:100%; height:auto" src="img/box-f2.png"></a>
	</div>

	
</div>