<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="#">Home</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
			<li>
				<a class="active generic-button" href="#">Login</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br>
		<h1>Login to MyGlucose</h1>
		
	</div>
	

</div>

<div class="table-data">
	<div class="order">
		<div class="head">
<!--					<i class='bx bx-check-square' ></i>-->
			<h3>Login</h3>
		</div>
		<form class="form-group" action="/doSomething" method="POST">
			<label>Who are you logging in as?</label>
			<select class="input-button-select" name="first_name">
				<option selected="true" disabled="disabled">Select from the list</option>
				<option value="Patient">Patient</option>
				<option value="Clinician">Clinician</option>
			</select>
			<br><br>
			<label>Username</label>
			<input class="input-button-select" type="text" placeholder="Username" name="username" />
			<br><br>
			<label>Password</label>
			<input class="input-button-select" type="password" placeholder="Password" name="password" />
			<br><br>
			<input style="font-size: 110%;" class="generic-button" type="submit" />
		</form>

		<br>
	</div>
</div>