{{#with oneItem}}
<body style="background-color:#00e17b;">
	<div class="head-title" >
		<div class="left">
			<ul class="breadcrumb">
				<li>
					<a class="active generic-button" href="#">+Record</a>
				</li>
				<li><i class='bx material-icons'>chevron_right</i></li>
				<li>
					<a class="active generic-button" href="#">Record Added</a>
				</li>
			</ul>
			<br>
			<h1>Record Added <i style="font-size: 100%;" class='bx material-icons'>task_alt</i></h1>
			
		</div>
	</div>	
	<ul class="box-info">
		<li>
			<i class='bx material-icons'>today</i>
			<span class="text">
				<h3 id="CurrentDate"></h3>
				<p>Today's Date</p>
			</span>
		</li>
		<li>
			<i class='bx material-icons'>medication</i>
			<span class="text">
				<h3>{{name}}</h3>
				<p>Your clinician</p>
			</span>
		</li>
	</ul>
	
	
	
	
	
	<div class="table-data">
		<div class="order">
			<div class="head">
				<h2>Your record has succesfully been added</h2>
			</div>
				<h2>You should be automatically redirected to the history page in <span id="seconds">5</span> seconds.</h2>
			</div>
		
	</div>
	<br>

	<br><br>
	<a href="/userHistory">
		<button class="generic-button" ><i class='bx material-icons'>check</i>&nbsp;Done</button>
	</a> 
	<script>
		// Countdown timer for redirecting to another URL after several seconds

		var seconds = 5; // seconds for HTML
		var foo; // variable for clearInterval() function

		function redirect() {
			document.location.href = '/userHistory';
		}

		function updateSecs() {
			document.getElementById("seconds").innerHTML = seconds;
			seconds--;
			if (seconds == -1) {
				clearInterval(foo);
				redirect();
			}
		}

		function countdownTimer() {
			foo = setInterval(function () {
				updateSecs()
			}, 1000);
		}

		countdownTimer();
	</script>
		</body>

{{/with}}