<section class="box box-d bg-primary grid-col-2">
    <div class="box-text">
      <h2 class="text-xl">Log in to your account</h2>
      <br>
      <p class="text-md">
        Diabetes management starts with <br>what you track.
      </p>
      Username: <input type="text" placeholder="Username" name="Username" /><br>
      Password: <input type="text" placeholder="Password" name="Password"/><br>
      <a href="#" class="btn btn-light-outline">Log In</a>
    </div>
    <div class="box-text">❕ If you do not have an account, <br>Please contact your physician to sign up</div>
  </section>
  
  

    <!-- Box F -->
    <section class="box box-f grid-col-2">
      <div>
        <a href="aboutus.html"><img src="img/box-f1.png" alt="About Diabetes@Home"></a>
        <div class="bg-extra py-lg">
          <div class="box-text">
            <h2 class="text-md">Synchronise your health information</h2>
            <p class="text-sm">
              Regular checking and recording of your blood glucose level can help you make healthy lifestyle choices and can alert your clinician to a possible need for a change in how your diabetes is being managed.
              Effective management of diabetes means aiming for a careful balance between the foods you eat, how active you are and what medication you take.<br><br>
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="aboutdiabetes.html"><img src="img/box-f2.png" alt="What is Diabetes?"></a>
        <div class="bg-secondary py-lg">
          <div class="box-text">
            <h2 class="text-md">Ready to get started?</h2>
            <p class="text-sm">
              Track your health information.<br>
              Message a doctor.<br>
              View historic data.<br>
              MyGlucose.
            </p>
          </div>
        </div>
      </div>
    </section>