<section class="box box-d bg-extra grid-col-2">
  <section class="box box-d bg-primary grid-col-1">
  <div class="box-text">
  <h1 class='text-xl'>Dashboard</h1>
  </div>
  </section>
  <div class="box-text">
    <h2 class="text-xl">Welcome, {{userName}}</h2>
    <p class="text-md">It is {{currentTime}}</p>
    <br>
  </div>
</section>

<section class="box box-f grid-col-2">
  <div>
    <div class="bg-secondary py-lg">
      <div class="box-text">
        <h2 class="text-md">COMPLETE YOUR DIARY</h2>
        <p class="text-sm">
          Today, you still need to complete:
          <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
          </ul>
        </p>
        <a href="#" class="btn btn-light-outline">Add Record</a>
        <br><br>
      </div>
    </div>
    <div class="bg-complete py-lg">
      <div class="box-text">
        <h2 class="text-md">COMPLETED RECORDS</h2>
        <p class="text-sm">
          You have completed these records today:
          <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
          </ul>
        </p>
        <a href="#" class="btn btn-light-outline">View Records</a>
        <br><br>
      </div>
    </div>
  </div>
  <div>
    <div class="bg-primary py-lg">
      <div class="box-text">
        <h2 class="text-md">LEADERBOARD</h2>
        <p class="text-sm">
          You are (place) on the leaderboard
          <ul>
            <li>FirstPlace</li>
            <li>SecondPlace</li>
            <li>ThirdPlace</li>
          </ul>
        </p>
        <a href="#" class="btn btn-light-outline">View Leaderboard</a>
        <br><br>
      </div>
    </div>
    <div class="bg-extra py-lg">
      <div class="box-text">
        <h2 class="text-md">MESSAGES</h2>
        <p class="text-sm">
          Your latest support message is:
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt rutrum nulla vel auctor. Donec nec aliquet velit. Proin id sagittis justo. Sed nec lectus enim. Aliquam pellentesque dolor gravida nisi fermentum tempus.</li>
          </ul>
        </p>
        <a href="#" class="btn btn-dark-outline">View Messages</a>
        <br><br>
      </div>
    </div>
  </div>
</section>

  


