<section class="box box-a bg-primary text-center py-md">
    <div class="box-inner">
      <h2 class="text-xl">Dashboard</h2>
    </div>
  </section>
  
  <section class="box box-a bg-primary text-center py-md">
      <div class="box-inner">
        <p class="text-md">
          This is the dashboard and it is working!
        </p>
      </div>
    </section>