<section class="box box-d bg-primary grid-col-2">
    <div class="box-text">
      <h2 class="text-xl">Add New Record</h2>
      <section class="box box-c bg-secondary grid-col-2 grid-reversed"><br>
        Today, you have already recorded:<br>
        (STUFF)<br>
        (STUFF)<br>
        (STUFF)<br>
        (STUFF)<br><br>
      </section>
      <form action="/people" method="POST">
        <input class="btn-light-outline" type="number" placeholder="ID" name="id" min="0" max="999" />
        <input class="btn-light-outline" type="text" placeholder="First name" name="first_name" />
        <input class="btn-light-outline" type="text" placeholder="Last name" name="last_name" />
        <input class="btn btn-light-outline" type="submit" />
      </form>
    </div>
    <br>
  </section>
  
  