<section class="box box-a bg-primary text-center py-md">
    <h1>Display Data</h1>
    <div class="box-inner">
    <h1>Displaying one item</h1>
    {{#with oneItem}}
    <ul>
        <li>{{this.id}}</li>
        <li>{{this.first_name}}</li>
        <li>{{this.last_name}} </li>
    </ul>
    {{/with}}
    
    </div>
</section>






