<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css">
<!--    <link rel="stylesheet" href="style.css" />-->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <title>List of Patients | MyGlucose by Diabetes@Home</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="navbar-brand">
                    <a href="/">
                        <img src="img/MyGlucoseWhite.png" alt="MyGlucose Logo" />
                    </a>
                </div>
                
                
                
                <ul class="navbar-nav-right">
                    <li>
                        <a href="/">DASHBOARD</a>
                    </li>
                    <li>
                        <a href="/people">HISTORY</a>
                    </li>
                    <li>
                        <a href="/newrecord">ADD RECORD</a>
                    </li>
                  <li>
                    <a href="aboutdiabetes.html">MESSAGES</a>
                  </li>
                  <li>
                    <a href="aboutdiabetes.html">LEADERBOARD</a>
                  </li>
                    <li><button class="btn btn-dark">Log Out</button></li>
                </ul>
                
                <!-- Hamburger Menu -->
                <button type="button" class="hamburger" id="menu-btn">
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </button>
            </div>
        </nav>
        
        <!-- Mobile Menu -->
        <div class="mobile-menu hidden" id="menu">
          <ul>
            <li>
              <a href="/">DASHBOARD</a>
            </li>
            <li>
              <a href="/people">HISTORY</a>
            </li>
            <li>
              <a href="/newrecord">ADD RECORD</a>
            </li>
            <li>
              <a href="aboutdiabetes.html">MESSAGES</a>
            </li>
            <li>
              <a href="aboutdiabetes.html">LEADERBOARD</a>
            </li>
            
          </ul>
            
            <div class="mobile-menu-bottom">
                <button class="btn btn-dark-outline">Log In</button>
            </div>
        </div>
        
        {{{body}}}
        
        
        <div class="divider"></div>
        <script src="/js/script.js"></script>
        <footer class="footer">
            <div class="footer-container">
                <div class="social">
                    <a href="https://outlook.com">
                        <img src="./img/email.svg" alt="" />
                    </a>
                    <a href="https://voice.google.com">
                        <img src="./img/call.svg" alt="" />
                    </a>
                    <a href="https://maps.apple.com">
                        <img src="./img/map.svg" alt="" />
                    </a>
                </div>
                <p>© 2022 MyGlucose by Diabetes@Home. All rights reserved.</p>
            </div>
        </footer>
        
        
    </body>
</html>
