<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="/css/clinicianStyle.css">

	<title>MyGlucose MyClinician</title>
</head>
<body>
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<div class="logo">
				<a href="/clinician"><img src="/img/MyClinician.svg" alt="MyGlucose Logo"></a>
			</div>
			<div class="hamburger">
				<div class="bars1"></div>
				<div class="bars2"></div>
				<div class="bars3"></div>
			</div>
			<ul class="nav-links">
				<li><a href="/clinician">Dashboard</a></li>
				<li><a href="/clinician/patients">Patients</a></li>
				<li><a href="/clinician/messages">Messages</a></li>
				<li><a href="/clinician/comments">Comments</a></li>
				<li><a href="/clinician/notes">Notes</a></li>
				<li><form method="POST" action="/auth/logout">
			<button class="login-button" href="#"><i class='bx material-icons'>logout</i></button>
		</form>
		</li>
			</ul>
		</nav>

		<!-- MAIN -->
		<br><br><br><br>
		<main>
			{{{body}}}
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<br>

	<script src="/js/clinicianScript.js"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
	const options = {
	bottom: '64px', // default: '32px'
	right: '32px', // default: '32px'
	left: 'unset', // default: 'unset'
	time: '0.5s', // default: '0.3s'
	mixColor: '#fff', // default: '#fff'
	backgroundColor: '#eee',  // default: '#fff'
	buttonColorDark: '#100f2c',  // default: '#100f2c'
	buttonColorLight: '#fff', // default: '#fff'
	saveInCookies: true, // default: true,
	label: '🌓', // default: ''
	autoMatchOsTheme: true // default: true
	}
	const darkmode = new Darkmode(options);
	darkmode.showWidget();

  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" ></script>

</html>
